

/* general */
body{
    background-repeat: repeat;
  background-image: url("../images/painting/collabDance.jpg");
  background-size: 40%;
  background-position: center;
}

li a{
  color:#B0DDFD;
}


li a:hover:not(.active) {
  color: #F5F08E;
}


h3{
  margin-top: 3%;
  margin-bottom: 0%;
  text-align: center;
}

 p.imageDetails{
   margin-top: 3%;
   margin-bottom: 0%;
   text-align: center;
}


/* IMAGE HOVER */
img.landscape{
  position: relative;
  width: 100%;
  margin: auto;

}


img.portrait{
  position: relative;
  width: 100%;
  margin: auto;}


/*GRID*/
.grid-container1 > div {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  max-width: 100%;
  margin:4%;
}

.grid-container2 > div {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  max-width: 70%;
  margin: auto;
  margin-top:4%;
  margin-bottom:4%;
}

div.content{
  font-size: 1em;
  justify-content: center;
  align-content: center;

}

@media only screen and (min-width: 768px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
    justify-content: center;
}

@media only screen and (max-width: 1440px){
  .grid-container{
    display: grid;
    grid-template-columns:auto auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
    justify-content: center;
}
}

@media only screen and (max-width: 600px){
  .grid-container{
    display: grid;
    grid-template-columns: auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto;
    align-items:center;
    justify-content: center;
}
}
