body{
  background-image: url("canvasGrey.jpg");
  background-repeat: repeat;
  background-size:40%;
  background-position: center;
}

li a{
  color: white;
}

h3, h5,{
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 4%;
}


li a:hover:not(.active) {
  color:#ced300;
}

/* IMAGES*/
img.landscape{
  width: 100%;
}

img.portrait{
  width:100%;
  height:100%;
}

/*GRID*/
.grid-container1 > div {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  font-size: 30px;
  place-items:center;
  align-content: center;
  max-width: 80%;
  margin: auto;
  margin-top: 3%;
}

.grid-container2 > div {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  max-width: 100%;
  margin: 5%;
}

div.content{
  font-size: 1em;
  justify-content: center;
  align-content: center;
}


/*artist statement grid*/
@media only screen and (min-width: 768px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container1 > div{
    max-width: 80%;
  }
  .grid-container1 p{
    font-size: .5em;
  }

}

@media only screen and (max-width: 1440px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
    justify-content: center;
    max-width: 100%;
  }
  .grid-container2{
    display: grid;
    grid-template-columns:auto auto;
    align-items:center;
    justify-content: center;

  }
  .grid-container1 > div{
    max-width: 80%;
  }
.grid-container1 p{
    font-size: .5em;
  }

}

@media only screen and (max-width: 600px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto;
    align-items:center;
    justify-content: center;
    max-width: 100%;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto;
    align-items:center;
    justify-content: center;
  }
  .grid-container1 > div{
    max-width: 80%;
  }
  .grid-container1 p{
    font-size: .35em;
  }
}
